{
  "openapi": "3.0.1",
  "info": {
    "title": "GTFS Realtime - Trip Updates - Metro Bus",
    "description": "GTFS Realtime feeds have been provided by the Victorian Department of Transport and Planning to provide realtime updates about Public Transport services. It contains feeds about:\n\n<strong>Trip Updates</strong> - delays, cancellations, changed routes \n\n<strong>Service Alerts</strong> - stop moved, unforeseen events affecting a station, route or the entire network \n\n<strong>Vehicle Positions</strong> - information about the vehicles including location and congestion level \n\nPlease note these feeds are provided in the Protocol Buffer format and are not human readable \n\nFor more information refer to this GTFS Realtime page - <a href='https://gtfs.org/documentation/realtime/reference/'>https://gtfs.org/documentation/realtime/reference/</a>",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.opendata.transport.vic.gov.au/opendata/public-transport/gtfs/realtime/v1/bus"
    }
  ],
  "paths": {
    "/trip-updates": {
      "get": {
        "summary": "GTFS Realtime - Trip Updates - Metro Bus",
        "tags": [
          "Request"
        ],
        "description": "GTFS Realtime Metro Bus Trip Updates data feed provides real-time arrival, departure and delay information of a trip for metro buses in Melbourne, Victoria. \n\nThe feed doesn’t include train replacement buses, service deviations (skipping stops or changing routes), platform information or cancellations.\n\nNote: This API endpoint has a rate limit of 20-27 calls per minute (depending on the data size) and caching time of 30 seconds.",
        "operationId": "metro-bus-trip-updates",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}